<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.zx.redcross.dao.my.CustomerMapper">
	<!--查询所有会员，返回的是一个会员集合  -->
	<select id="finAllCustomer" resultType="Customer">
		select * from customer 
	</select>
	<!--通过id查询会员，返回的是一个会员 -->
	<select id="findCustomer"  resultType="customer">
		select * from customer where tel=#{tel} and password=#{password}
	</select>
	<!-- 添加会员 -->
	<insert id="saveCustomer" parameterType="Customer">
		INSERT INTO customer(district_id,password,tel,detail_address) 
		VALUES(#{districtId},#{password},#{tel},#{detailAddress})	
	</insert>
	<!--通过手机号码查询会员，返回的是一个数量 -->
	<select id="findCustomerByTel" parameterType="String" resultType="int">
		select count(tel) from customer where tel=#{tel}
	</select>
	
	<select id="findCustomerById" resultType="Customer">
		SELECT 
			*
		FROM 
			customer
		WHERE id = #{id}
	</select>
	
	
	<!-- 删除自己的发帖 -->
	<delete id="deleteMyTopic" >
	DELETE FROM topic WHERE customer_id=#{customerId} AND id=#{topicId}
	</delete>
	
	<!-- 删除自己的评论-->
	<delete id="deleteMyTopicComent" >
	DELETE FROM topic_coment WHERE customer_id=#{customerId} AND id=#{topicComentId}
	</delete>
	<!--查询结果返回判断是否是自己的评论  -->
	<select id="findMyTopicComent" resultType="int">
	select count(id) from topic_coment	WHERE customer_id=#{customerId} AND id=#{topicComentId}
	</select>
	
	
	<update id="updatePersonalInfo">
		UPDATE 
			customer 
		SET
		<if test="customer.osDistrict != null and customer.osDistrict.id != null">
			district_id =  #{customer.osDistrict.id},
		</if>
		<if test="customer.nickname != null">
			nickname =  #{customer.nickname},
		</if>
		<if test="customer.avatarUrl != null">
			avatar_url =  #{customer.avatarUrl},
		</if>
		<if test="customer.password != null">
			`password` =  #{customer.password},
		</if>
		<if test="customer.detailAddress != null">
			detail_address =  #{customer.detailAddress},
		</if>
			gender = gender
		WHERE customer.id = #{customer.id}
	</update>
	
</mapper>