<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.redcross.dao.my.IFavoriteMapper">
	
	<select id="listFavoriteByCustomerId" resultMap="favorite">
		SELECT 
			customer.id AS customer_id,
			customer.avatar_url,
			customer.nickname,
			
			topic.id,
			topic.content,
			topic.title,
			topic.publish_time,
			topic.total_share,
			topic.`status`,
			topic.video_url,
			(SELECT COUNT(id) FROM topic_thumbsup WHERE topic_thumbsup.topic_id = topic.id)AS totalThumbsup,
			(SELECT COUNT(id) FROM topic_coment WHERE topic_coment.topic_id = topic.id)AS totalComment,
			
			img.id AS img_id,
			img.img_url AS imgUrl,
			
			favorite.id AS favorite_id,
			favorite.favorite_time			
		FROM
			(
				SELECT 
					* 
				FROM favorite
				WHERE favorite.customer_id = #{customerId}
				LIMIT #{page.start},#{page.pageSize}
			) favorite
		LEFT JOIN topic ON topic_id = topic.id
		LEFT JOIN customer ON topic.customer_id = customer.id
		LEFT JOIN img ON img.img_type = '${@com.zx.redcross.tool.Constant@IMG_TYPE_TOPIC}' AND img.foreign_id = topic.id
		ORDER BY favorite.favorite_time  DESC;
	</select>
	
	
	<resultMap type="HashMap" id="favorite">
		<result column="customer_id" property="customer_id"/>
		<result column="avatar_url" property="avatarUrl"/>
		<result column="nickname" property="nickname"/>
		
		<result column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="title" property="title"/>
		<result column="publish_time" property="publishTime"/>
		<result column="status" property="status"/>
		<result column="video_url" property="videoUrl"/>
		<result column="total_share" property="totalShare"/>
		<result column="totalThumbsup" property="totalThumbsup"/>
		<result column="totalComment" property="totalComment"/>
		<result column="favorite_id" property="favoriteId"/>
		<result column="favorite_time" property="favoriteTime"/>
		<collection property="imgs" javaType="list" ofType="HashMap" >
			<result column="img_id" property="imgId"/>
			<result column="imgUrl" property="imgUrl"/>
		</collection>
	</resultMap>
</mapper>