<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.zx.redcross.dao.my.IPraiseMapper">
	
	<resultMap type="HashMap" id="praiseByCustomerIdMap">
		<result property= "thunbsupId" column="thunbsup_id"/>
		<result column="content" property="content"/>
		<result column="thunbsup_time" property="thunbsupTime"/>
		<result column="topic_id" property="topicId"/>
		<result column="topic_has_video" property="topicHasVideo"/>
		<result column="topic_video_url" property="topicVideoUrl"/>		
		<result column="topic_title" property="topicTitle"/>
		<result column="topic_content" property="topicContent"/>
		<result column="topic_status" property="topicStatus"/>
		<association property="customer" javaType="HashMap" >		
			<id column="customer_id" property="id"/>
			<result property= "nickname" column="nickname"/>
			<result property= "avatarUrl" column="avatar_url"/>
		</association>
		<collection property="imgs" ofType="HashMap"  javaType="list">
			<id column="img_id" property="id"/>
			<result column="img_url" property="imgUrl"/>
		</collection>
	</resultMap>

	<select id="listPraiseByCustomerId" resultMap="praiseByCustomerIdMap">
		SELECT	
         tc.id AS thunbsup_id
	,tc.content AS content
	,ch.thunbsup_time AS thunbsup_time
	,c.id AS customer_id
	,c.nickname AS nickname
	,c.avatar_url AS  avatar_url
	,t.id	AS	topic_id
	,t.has_video AS topic_has_video
	,t.video_url AS topic_video_url
	,t.title AS	topic_title
	,t.content AS	topic_content
	,t.status AS	topic_status
	,img.id AS  img_id
	,img.`img_url` AS img_url
	FROM 
	coment_thumbsup ch 
	LEFT JOIN topic_coment tc
	ON ch.topic_coment_id=tc.id
	LEFT JOIN customer c
	ON tc.customer_id=c.id
	LEFT JOIN topic t
	ON tc.topic_id=t.id
	LEFT JOIN img 
	ON img.`foreign_id`=t.id
	WHERE ch.customer_id=#{customerId}
	UNION ALL
	SELECT 
	 tc.id AS thunbsup_id
    ,tc.content AS content
	,th.thunbsup_time AS thunbsup_time
	,c.id AS customer_id
	,c.nickname AS nickname
	,c.avatar_url AS  avatar_url
	,t.id	AS	topic_id
	,t.has_video AS topic_has_video
	,t.video_url AS topic_video_url
	,t.title AS	topic_title
	,t.content AS	topic_content
	,t.status AS	topic_status
	,img.id AS  img_id
	,img.`img_url` AS img_url
	FROM 
	topic_thumbsup th
	LEFT JOIN topic t
	ON th.topic_id=t.id
	LEFT JOIN customer c
	ON th.customer_id=c.id
	LEFT JOIN img 
	ON img.`foreign_id`=t.id
	LEFT JOIN topic_coment tc
	ON tc.id=-1
	WHERE  th.`customer_id`=#{customerId}
	ORDER BY thunbsup_time DESC
	LIMIT #{page.start},#{page.pageSize}
	</select>
</mapper>