<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.zx.redcross.dao.my.IPraiseMapper">
	<resultMap type="HashMap" id="praiseByCustomerIdMap">
	
		<!-- 点赞信息 -->
		
		<id column="id" property="id"/>
		<result column="praise_type" property="praiseType"/>
		<result property="isComentPraise" column="is_coment_praise"/>
		
		<!-- 发帖人信息 -->
		<association property="topicCustomer" javaType="HashMap" columnPrefix="topic_customer_">		
			<id column="id" property="id"/>
			<result property= "nickname" column="nickname"/>
			<result property= "avatarUrl" column="avatar_url"/>
		</association>
	
		<!-- 帖子信息 -->
		<association property="topic" javaType="HashMap" columnPrefix="topic_">
			<result column="id" property="id"/>
			<result column="content" property="content"/>
			<result column="publish_time" property="publishTime"/>
			<result column="has_video" property="hasVideo"/>
			<result column="video_url" property="videoUrl"/>		
			<result column="img_url" property="imgUrl"/>		
			<result column="title" property="title"/>
			<result column="status" property="status"/>
			<!-- 帖子照片 -->
			<collection property="imgs" ofType="HashMap" columnPrefix="img_"  javaType="list">
				<id column="id" property="id"/>
				<result column="img_url" property="url"/>
				<result column="index" property="index"/>
			</collection>
		</association>
		
		<!-- 评论人信息(如果有) -->
		<association property="topicComentCustomer" javaType="HashMap" columnPrefix="topic_coment_customer_">		
			<id column="id" property="id"/>
			<result property= "nickname" column="nickname"/>
			<result property= "avatarUrl" column="avatar_url"/>
		</association>
		<!-- 评论(如果有) -->
		<association property="topicComent" javaType="HashMap" columnPrefix="topic_coment_">		
			<id column="id" property="id"/>
			<result column= "coment_time" property="comentTime"/>
			<result column="content" property="content"/>
		</association>
		
	</resultMap>
	

	<select id="listPraiseByCustomerId" resultMap="praiseByCustomerIdMap">
		SELECT
			tmp.praise_type,
			tmp.id,
			tmp.is_coment_praise,
		
			tcus.id AS topic_customer_id,
			tcus.nickname AS topic_customer_nickname,
			tcus.avatar_url AS topic_customer_avatar_url,
			
			t.publish_time AS topic_publish_time,
			t.title AS topic_title,
			t.content AS topic_content,
			t.`status` AS topic_status,
			t.has_video AS topic_has_video,
			t.video_url AS topic_video_url,
			t.img_url AS topic_img_url,
			t.id AS topic_id,
			
			img.foreign_id AS topic_img_id,
			img.iindex AS topic_img_index,
			img.img_url AS topic_img_img_url,
			
			tccus.id AS topic_coment_customer_id,
			tccus.nickname AS topic_coment_customer_nickname,
			tccus.avatar_url AS topic_coment_customer_avatar_url,
			
			tc.coment_time AS topic_coment_coment_time,
			tc.id AS topic_coment_id,
			tc.content AS topic_coment_content
			
		FROM
			(
				SELECT * FROM
				(
					SELECT
						coment_thumbsup_id AS id,
						0 AS praise_type,
						topic_coment.topic_id,
						topic_coment_id,
						coment_thumbsup.customer_id,
						thumbsup_time,
						1 As is_coment_praise
					FROM
						coment_thumbsup
					LEFT JOIN 
						topic_coment ON coment_thumbsup.topic_coment_id = topic_coment.id
					UNION ALL
					SELECT
						id,
						1 AS praise_type,
						topic_id,
						NULL AS topic_coment_id,
						customer_id,
						thumbsup_time,
						0 As is_coment_praise
					FROM
						topic_thumbsup
				)praise
				WHERE praise.customer_id = #{customerId}
				ORDER BY thumbsup_time
				LIMIT #{page.start},#{page.pageSize}
			)tmp
		LEFT JOIN topic_coment tc ON tmp.topic_coment_id = tc.id
		LEFT JOIN topic t ON tmp.topic_id = t.id
		LEFT JOIN img ON img.`foreign_id` = t.id
		LEFT JOIN customer tcus ON t.customer_id = tcus.id	#发帖人信息
		LEFT JOIN customer tccus ON tc.customer_id = tccus.id	#评论人信息
		ORDER BY 
			thumbsup_time DESC,img.iindex
	</select>
</mapper>