<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.zx.redcross.dao.my.ITopicComentMapper">

	<resultMap type="HashMap" id="topicComent">
		<!-- 帖子发布人信息 -->
		<result column="topic_customer_id" property="topicCustomerId"/>
		<result column="topic_customer_avatar_url" property="topicCustomerAvatarUrl"/>
		<result column="topic_customer_nickname" property="topicCustomerNickname"/>
		
		<!-- 帖子信息 -->
		<result column="topic_id" property="topicId"/>
		<result column="topic_content" property="topicContent"/>
		<result column="topic_title" property="topicTitle"/>
		<result column="topic_total_share" property="topicTotalShare"/>
		<result column="topic_totalThumbsup" property="topicTotalThumbsup"/>
		<result column="topic_totalComment" property="topicTotalComment"/>
		<result column="topic_has_video" property="topicHasVideo"/>
		<result column="topic_video_url" property="topicVideoUrl"/>
		<result column="status" property="status"/>
		
		<!-- 评论人信息 -->
		<result column="customer_id" property="customerId"/>
		<result column="avatar_url" property="avatarUrl"/>
		<result column="nickname" property="nickname"/>
		
		<!-- 评论信息 -->
		<result column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="coment_time" property="comentTime"/>

		<!-- 被评论人信息 -->
		<result column="last_level_coment_customer_id" property="lastLevelComentCustomerId"/>
		<result column="last_level_coment_customer_nickname" property="lastLevelComentCustomerNickname"/>
		
		<!-- 被评论信息 -->
		<result column="last_level_coment_id" property="lastLevelComentId"/>
		<result column="last_level_coment_content" property="lastLevelComentContent"/>
		
		<!-- 帖子照片信息 -->
		<collection property="imgs" javaType="list" ofType="HashMap" >
			<result column="topic_img_id" property="imgId"/>
			<result column="topic_img_img_url" property="imgUrl"/>
			<result column="topic_img_iindex" property="iindex"/>
		</collection>
	</resultMap>

	
	<select id="listTopicComentByCustomerId" resultMap="topicComent">
		SELECT 
			tmp.*,
			customer.id AS customer_id,
			customer.avatar_url,
			customer.nickname
		FROM(
			SELECT 
				customer.id AS topic_customer_id,
				customer.avatar_url AS topic_customer_avatar_url,
				customer.nickname AS topic_customer_nickname,
				
				topic.id AS topic_id,
				topic.title AS topic_title,
				topic.content AS topic_content,
				(SELECT COUNT(id) FROM topic_thumbsup WHERE topic_thumbsup.topic_id = topic.id)AS topic_totalThumbsup,
				(SELECT COUNT(id) FROM topic_coment WHERE topic_coment.topic_id = topic.id)AS topic_totalComment,
				topic.total_share AS topic_total_share,
				topic.`status`,
				topic.has_video AS topic_has_video,
				topic.video_url AS topic_video_url,
				img.id AS topic_img_id,
				img.iindex AS topic_img_iindex,
				img.img_url AS topic_img_img_url,
				
				
				topic_coment.id,
				topic_coment.content,
				topic_coment.coment_time,
				topic_coment.customer_id,
				
				NULL AS last_level_coment_customer_id,
				NULL AS last_level_coment_customer_nickname,
				
				NULL AS last_level_coment_id,
				NULL AS last_level_coment_content
				
			FROM 
				(
					SELECT 
						* 
					FROM 
						topic_coment
					WHERE customer_id = #{customerId}
					ORDER BY topic_coment.coment_time DESC
					LIMIT #{page.start},#{page.pageSize}
				)topic_coment
			LEFT JOIN topic ON topic_coment.topic_id = topic.id
			LEFT JOIN img ON img.img_type = '${@com.zx.redcross.tool.Constant@IMG_TYPE_TOPIC}' AND topic.id = img.foreign_id
			LEFT JOIN customer ON topic.customer_id = customer.id
			WHERE topic_coment.is_topcoment = 1
			
			UNION ALL
			
			SELECT 
				
				customer.id AS topic_customer_id,
				customer.avatar_url AS topic_customer_avatar_url,
				customer.nickname AS topic_customer_nickname,
				
				topic.id AS topic_id,
				topic.title AS topic_title,
				topic.content AS topic_content,
				(SELECT COUNT(id) FROM topic_thumbsup WHERE topic_thumbsup.topic_id = topic.id)AS topic_totalThumbsup,
				(SELECT COUNT(id) FROM topic_coment WHERE topic_coment.topic_id = topic.id)AS topic_totalComment,
				topic.total_share AS topic_total_share,
				topic.`status`,
				topic.has_video AS topic_has_video,
				topic.video_url AS topic_video_url,
				img.id AS topic_img_id,
				img.iindex AS topic_img_iindex,
				img.img_url AS topic_img_img_url,
				
				
				topic_coment.id,
				topic_coment.content,
				topic_coment.coment_time,
				topic_coment.customer_id,
				
				customer2.id AS last_level_coment_customer_id,
				customer2.nickname AS last_level_coment_customer_nickname,
				
				top_coment.id AS last_level_coment_id,
				top_coment.content AS last_level_coment_content
				
			FROM 
				(
					SELECT 
						* 
					FROM 
						topic_coment
					WHERE customer_id = #{customerId}
					ORDER BY topic_coment.coment_time DESC
					LIMIT #{page.start},#{page.pageSize}
				)topic_coment
			LEFT JOIN topic ON topic_coment.topic_id = topic.id
			LEFT JOIN img ON img.img_type = '${@com.zx.redcross.tool.Constant@IMG_TYPE_TOPIC}' AND topic.id = img.foreign_id
			LEFT JOIN customer ON topic.customer_id = customer.id
			LEFT JOIN topic_coment top_coment ON topic_coment.topcoment_id = top_coment.id
			LEFT JOIN customer customer2 ON top_coment.customer_id = customer2.id
			WHERE topic_coment.is_topcoment = 0 AND topic_coment.coment_id IS NULL
			
			UNION ALL
			
			SELECT 
				customer.id AS topic_customer_id,
				customer.avatar_url AS topic_customer_avatar_url,
				customer.nickname AS topic_customer_nickname,
				
				topic.id AS topic_id,
				topic.title AS topic_title,
				topic.content AS topic_content,
				(SELECT COUNT(id) FROM topic_thumbsup WHERE topic_thumbsup.topic_id = topic.id)AS topic_totalThumbsup,
				(SELECT COUNT(id) FROM topic_coment WHERE topic_coment.topic_id = topic.id)AS topic_totalComment,
				topic.total_share AS topic_total_share,
				topic.`status`,
				topic.has_video AS topic_has_video,
				topic.video_url AS topic_video_url,
				img.id AS topic_img_id,
				img.iindex AS topic_img_iindex,
				img.img_url AS topic_img_img_url,
				
				topic_coment.id,
				topic_coment.content,
				topic_coment.coment_time,
				topic_coment.customer_id,
				
				customer2.id AS last_level_coment_customer_id,
				customer2.nickname AS last_level_coment_customer_nickname,
				
				second_coment.id AS last_level_coment_id,
				second_coment.content AS last_level_coment_content2
				
			FROM 
				(
					SELECT 
						* 
					FROM 
						topic_coment
					WHERE customer_id = #{customerId}
					ORDER BY topic_coment.coment_time DESC
					LIMIT #{page.start},#{page.pageSize}
				)topic_coment
			LEFT JOIN topic ON topic_coment.topic_id = topic.id
			LEFT JOIN img ON img.img_type = '${@com.zx.redcross.tool.Constant@IMG_TYPE_TOPIC}' AND topic.id = img.foreign_id
			LEFT JOIN customer ON topic.customer_id = customer.id
			LEFT JOIN topic_coment second_coment ON topic_coment.coment_id = second_coment.id
			LEFT JOIN customer customer2 ON second_coment.customer_id = customer2.id
			WHERE topic_coment.is_topcoment = 0 AND topic_coment.coment_id IS NOT NULL
		)tmp
		LEFT JOIN customer ON tmp.customer_id = customer.id
		ORDER BY coment_time DESC,topic_img_iindex ASC;
	</select>
	
	
</mapper>