<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.redcross.dao.course.ICourseMapper">

	
	<resultMap type="HashMap" id="courseSubject">
		<result column="id" property="id"/>
		<result column="sname" property="sname"/>
		<result column="description" property="description"/>
		<result column="price" property="price"/>
		<result column="thumbnail_url" property="thumbnail_url"/>
		<result column="certificateUrl" property="certificateUrl"/>
		<result column="period" property="period"/>
	</resultMap>

	<select id="listCourseSubject" resultMap="courseSubject">
		SELECT 
			id,sname,description,price,thumbnail_url,period,certificate_url
		FROM course_subject
	</select>
	
	
	
	<select id="findCourseSubject" parameterType="int" resultMap="courseSubject">
		SELECT 
			id,sname,description,price,thumbnail_url,period,certificate_url
		FROM course_subject where id=#{subjectId}
	</select>
	
	<!--查询观看完视频的集数  -->
	<select id="getCountRecord" resultType="int">
		SELECT 
			count(course_record_id)
		FROM course_record 
		where customer_id=#{customerId} and course_id=#{courseId}
	</select>
	
	
	<resultMap type="HashMap" id="course">
		<result column="id" property="id"/>
		<result column="cindex" property="cindex"/>
		<result column="cname" property="cname"/>
		<result column="description" property="description"/>
		<result column="video_url" property="videoUrl"/>
		<result column="video_duration" property="videoDuration"/>
	</resultMap>
	
	
	<select id="listCourseBySubject" resultMap="course">
		SELECT 
			course.id,cname,description,cindex,video_url,video_duration
		FROM course
		WHERE subject_id = #{subjectId}
		LIMIT ${page.start},${page.pageSize}
	</select>
	

	<insert id="saveCountRecord">
	INSERT INTO course_record(customer_id,course_id) 
	VALUES(#{customerId},#{courseId})
	</insert>
	

	<select id="getCourseById" resultMap="course">
		SELECT 
			course.id,cname,description,cindex,video_url,video_duration
		FROM course
		WHERE id = #{id}
	</select>
	
	<insert id="saveCourse" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO course(cname,description,cindex,is_video,video_url,thumbnail_url)
		VALUES (
			#{course.cname},
			#{course.description},
			#{course.cindex},
			#{course.is_video},
			#{course.video_url},
			#{course.thumbnail_url}
		)
	</insert>
	
	
	<insert id="saveCourseSubject" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO course_subject(sname,description,price,thumbnail_url,period,certificate_url)
		VALUES(
			#{courseSubject.sname},
			#{courseSubject.description},
			#{courseSubject.price},
			#{courseSubject.thumbnail_url},
			#{courseSubject.period},
			#{courseSubject.certificateUrl}
		)
	</insert>
	<!--查询考试订单中所有会员  -->
	<select id="adminListExamOrder">
		SELECT id,course_subject_id,customer_id,order_number,tel,real_name,detail_address,coment
		,submit_time,`status`
 		FROM exam_order
	</select>
	
	<!--删除考试科目  -->
	<delete id="adminDeleteCourseSubject"  >
		delete from course_subject where id=#{courseSubjectId}
	</delete>
	
	<!--删除考试科目课程  -->
	<delete id="adminDeleteCourse"  >
		delete from course where id=#{courseId}
	</delete>
	
	<!-- 修改考试科目 -->
	<update id="adminUpdateCourseSubject" parameterType="courseSubject">
	UPDATE course_subject SET 
	sname=#{sname},
	description=#{description},
	price#{price},
	thumbnail_url=#{thumbnailUrl},
	certificate_url=#{id},
	period=#{certificateUrl} where id=#{id}
	</update>
	
</mapper>