<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.zx.redcross.dao.index.IEmployee">

	<select id="listEmployees" resultType="Employee">
		select * from employee;
	</select>

	<insert id="addEmployee" useGeneratedKeys="true"
		keyProperty="id" parameterType="Employee">
		insert into
		employee(`name`,pay,dept)values(${employee.name},${employee.pay},${employee.dept});
	</insert>

</mapper>