<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.redcross.entity.Knowledge">
	
	<!-- <resultMap type="Knowledge" id="simpleKnowledge">
		<id column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="title" property="title"/>
	</resultMap>
	
	
	<resultMap type="Knowledge" id="knowledge">
		<id column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="title" property="title"/>
	</resultMap> -->



	<select id="listKnowledgeByType" resultType="Knowledge">
		select 
			id,content,title 
		from knowledge
		where type_id = ${typeId}
		limit 
		;
	</select>
</mapper>