<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.redcross.dao.index.IKnowledgeMapper">
	
	<resultMap type="Knowledge" id="simpleKnowledge">
		<id column="id" property="id"/>
		<result column="content" property="content"/>
		<result column="title" property="title"/>
		<association property="knowledgeType" autoMapping="true" javaType="com.zx.redcross.entity.KnowledgeType">
			<id column="type_id" property="id"/>
		</association>
	</resultMap>
	
	<select id="listKnowledgeByType" resultType="Knowledge">
		SELECT 
			knowledge.id,content,title,type_id,kname
		FROM knowledge
		LEFT JOIN knowledge_type ON knowledge.type_id = knowledge_type.id	
		<where>
			<if test="typeId != null">
				type_id = #{typeId}
			</if>
		</where>
		LIMIT ${page.start},${page.pageSize};
	</select>
	
	<select id="getKnowledgeById" resultType="Knowledge">
		SELECT 
			knowledge.id,content,title,type_id,kname
		FROM knowledge
		LEFT JOIN knowledge_type ON knowledge.type_id = knowledge_type.id
		WHERE knowledge.id = #{id};
	</select>
	
	<insert id="saveKnowledge" useGeneratedKeys="true" keyColumn="id">
		INSERT INTO 
			knowledge ( type_id, title, content, has_video, video_url )
		VALUES
			(#{Knowledge.knowledgeType.id},#{Knowledge.title},
			#{Knowledge.content},#{Knowledge.has_video},#{Knowledge.video_url});
	</insert>
	
	
	<select id="listKnowledgeType" resultMap="knowledgeType">
		SELECT 
			id,kname,description
		FROM knowledge_type;
	</select>
	
	<resultMap type="KnowledgeType" id="knowledgeType" autoMapping="false">
		<id column="id" property="id"/>
		<result column="kname" property="kname"/>
		<result column="description" property="description"/>
	</resultMap>
	
</mapper>