<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指向mapper接口 -->
<mapper namespace="com.zx.redcross.dao.index.SocialMapper">
	<!--返回一个TopicType集合  -->
	<select id="findAllTopicType" resultType="TopicType">
	 select * from topic_type	
	</select>
	<!--返回一个int类型数据和  -->
	<select id="findAllTopicCount" resultType="int">
	 select count(*) from topic	
	</select>
	
	<select id="findAllTopic" resultType="Topic" parameterType="Page">
	  SELECT * FROM topic ORDER BY id DESC LIMIT #{start},#{pageSize}
	</select>
</mapper>