<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zx.redcross.dao.index.IVideoMapper">
	<!--查询所有付费视频 -->
	<select id="listVideo" resultMap="videoMap">
		SELECT
			v.id,
			v.vindex,
			v.vname,
			v.description,
			v.video_url,
			v.price,
			vb.`status` 
		FROM
			video v
			LEFT JOIN video_buy_record vb ON v.`id` = vb.`video_id` 
			AND customer_id = #{customerId}
		ORDER BY
			v.id DESC
		LIMIT #{page.start},#{page.pageSize}
	</select>
	
	<select id="listVideoByIds" resultType="Video">
		SELECT
			v.id,
			v.vindex,
			v.vname,
			v.description,
			v.video_url,
			v.price
		FROM
			video v
		WHERE
			v.id in (${ids});
	</select>
	
	
	
	<!--查询一个付费视频 -->
	<select id="getVideo" resultMap="videoMap">
		SELECT
			v.id,
			v.vindex,
			v.vname,
			v.description,
			v.video_url,
			v.price,
			vb.`status` 
		FROM
			video v
			LEFT JOIN video_buy_record vb ON v.`id` = vb.`video_id` 
			AND vb.customer_id = #{customerId}
		WHERE
			v.id = #{videoId}
	</select>
	
	<select id="getVideoById" resultType="Video">
		SELECT
			v.id,
			v.vindex,
			v.vname,
			v.description,
			v.thumbnail_url,
			v.video_url,
			v.price
		FROM
			video v
		where v.id = #{videoId}
	</select>
	
	
	<!-- 查找该用户是否购买过该视频 -->
	<select id="getVideoBuyRecordByCustomerAndVideoId" resultType="VideoBuyRecord">
		SELECT
			*
		FROM
			video_buy_record
		WHERE customer_id = #{customerId} AND video_id = #{videoId}
	</select>
	
	
	<!--会员支付成功后会生成一条支付成功记录  -->
	<insert id="saveVideoBuyRecord" useGeneratedKeys="true" keyProperty="videoBuyRecord.id">
		INSERT INTO 
			video_buy_record (video_id, customer_id, order_number, coment, `status`)
		VALUES
			(#{videoBuyRecord.video.id},
			#{videoBuyRecord.customer.id},
			#{videoBuyRecord.orderNumber},
			#{videoBuyRecord.coment},
			#{videoBuyRecord.status})
	</insert>
	
	
	<update id="updateVideoBuyRecord">
		UPDATE video_buy_record 
		SET `status` = #{videoBuyRecord.status},
		submit_time = NOW()
		WHERE
			customer_id = #{videoBuyRecord.customer.id} AND id = #{videoBuyRecord.id}
	</update>
	
	
	<resultMap type="HashMap" id="videoMap" autoMapping="true">
		<result column="id" property="id" />
		<result column="vname" property="vname" />
		<result column="description" property="description" />
		<result column="video_url" property="videoUrl" />
		<result column="price" property="price" />
		<result column="status" property="status" />
	</resultMap>
	
	
	<!-- ==============================后台接口============================== -->
	
	<!--后台查询所有付费视频  -->
	<select id="adminListVideo" resultType="Video">
		SELECT
			id,
			vindex,
			vname,
			description,
			video_url,
			price 
		FROM
			video
		<if test="page.query!=null and page.query.length!=0">
			WHERE vname LIKE #{page.finalQuery}
		</if>
		ORDER BY id DESC
		LIMIT #{page.start},#{page.pageSize}
	</select>
	
	<!--后台添加付费视频  -->
	<insert id="adminSaveVideo" parameterType="video">
	INSERT 
	INTO video
	(vindex
	,vname
	,description
	,video_url
	,price
	,thumbnail_url) 
	VALUES(
	#{vindex}
	,#{vname}
	,#{description}
	,#{videoUrl}
	,#{price}
	,#{thumbnailUrl})
	</insert>
	
	
	<!-- 删除付费视频 -->
	<delete id="adminDeleteVideo" parameterType="int">
	 DELETE FROM video WHERE id=#{video}
	</delete>
	
	
	<!-- 批量删除付费视频 -->
	<delete id="adminDeleteBatchVideo">
	 DELETE FROM video WHERE id in (${ids});
	</delete>
	
	<!-- 修改付费视频 -->
	<update id="adminUpdateVideo">
	UPDATE video SET 
	vindex=#{vindex},
	vname=#{vname},
	description=#{description},
	video_url=#{videoUrl},
	thumbnail_url=#{thumbnailUrl},
	price=#{price}
	WHERE id=#{id}
	</update>
	
	<!-- 后台查询一条付费视频订单记录 -->
	<select id="adminListVideoBuyRecord" resultMap="videoBuyRecordMap">
		SELECT
			vb.*,
			v.`price`,
			v.`vname`,
			v.video_url,
			c.`nickname` 
		FROM
			video_buy_record vb
			LEFT JOIN video v ON vb.video_id = v.id
			LEFT JOIN customer c ON vb.`customer_id` = c.`id` 
		<where>
			<if test="record.status !=0">
				vb.`status` = #{record.status}
			</if>
			<if test="record.submitTime != null">
				AND submit_time &lt;  #{record.submitTime}
			</if>
			<if test="record.coment != null and record.coment.length > 0">
				AND submit_time &gt; #{record.coment}
			</if>
			<if test="record.video != null and record.video.vname !=null and record.video.vname.length >0">
				<bind name="name" value="'%'+ record.video.vname +'%'" />
				AND v.vname LIKE  #{name}
			</if>
		</where>
	</select>
	
	<resultMap type="VideoBuyRecord" id="videoBuyRecordMap" autoMapping="true">
		<id column="id" property="id"/>
		<association property="video" javaType="Video" autoMapping="true">
			<id column="video_id" property="id"/>
		</association>
		<association property="customer" javaType="Customer" autoMapping="true">
			<id column="customer_id" property="id"/>
		</association>
	</resultMap>
	
</mapper>